body {
  margin: 50px;
  background: #CC95C0;
  background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); 
  font-family: 'Shadows Into Light', cursive; 
}

nav {
  position: fixed;
}

nav ul {
  display: flex;
  flex-flow: column wrap;
  width: 200px;
  padding: 0;
}

nav li {
  list-style: none;
  padding: 10px;
  margin: 10px;
  font-weight: bolder;
  font-size: 1.5em;
}

nav a {
  color: rgb(249, 242, 227);
  text-decoration-line: none;
}

nav a:hover {
  color: #DBD4B4;
  text-decoration-line: underline;
}

section:nth-of-type(1) {
  text-align: center;
  color: rgb(252, 251, 248);
  margin: 50px 200px;
  padding: 20px 0;
  border-bottom: 2px outset rgb(247, 243, 225);
}

h1 {
  font-size: 2.5em;
  font-style: italic;
}

h1::before {
  content: "> ~ "
}

h1::after {
  content: " ~ <"
}

section:nth-of-type(1) p {
  font-size: 1.5em;
  font-weight: bolder;
}

section:nth-of-type(1) p::before {
  content: "💙🧡💜 "
}

section:nth-of-type(1) img {
  border-radius: 50%;
  border: 2px outset rgb(252, 240, 206);
  width: 120px;
  margin: 20px;
  padding: 5px;
  
}

section:nth-of-type(1) img:hover {
  opacity: 0.7;
  border: 2px inset rgb(247, 238, 197);
}

section:nth-of-type(2) {
  margin: 0 200px;
  padding: 0 20px 20px 20px;
  border-bottom: 2px outset rgb(247, 243, 225);  
  color: rgb(91, 65, 0);
}

h2 {
  text-align: center;
  font-size: 2em;
  color: rgb(91, 65, 0);
}

section:nth-of-type(2) ul {
  margin: 50px 0;
  padding: 0;
  font-size: 1.2em;
  text-align: center;
}

section:nth-of-type(2) li {
  list-style: none;
}

section:nth-of-type(2) p::before {
  content: "🎀 ";
}

section:nth-of-type(2) li:hover {
  font-style: italic;
  font-weight: bold;
}

section:nth-of-type(3) {
  margin: 0 200px;
  padding: 30px 0 50px 0;
  border-bottom: 2px outset rgb(247, 243, 225);  
}

section:nth-of-type(3) ul {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
}

section:nth-of-type(3) a {
  color: rgb(91, 65, 0);
  font-size: 1.5em;
  font-weight: bold;
  text-decoration-line: none;
}

section:nth-of-type(3) a:hover {
  text-decoration-line: underline;
}

section:nth-of-type(3) li {
  list-style: none;
  padding: 10px;
  margin: 20px;
  color: rgb(91, 65, 0);
  text-align: center;
}

section:nth-of-type(3) li:hover {
  color: rgb(48, 35, 2);
  border: 2px dashed rgb(138, 117, 24);
  font-style: italic;
}

section:nth-of-type(3) img{
  width: 200px;
  border-radius: 10px;
  float: left;
  margin: 10px;
}

section:nth-of-type(3) p {
  text-align: left;
  margin: 20px;
}

footer {
  text-align: center;
  margin: 0 200px;
  padding: 50px
}